
<div ng-controller = "OrdersController">
  <div class="addOrders">
    <h4>Add a new order</h4>
    <div class="row">
      <div class="col s8 offset-s2">
        <form name="orderForm">
          <label for="name">Customer</label>
          <select name="name" ng-model="new_order.name" class="browser-default" required>
            <option ng-repeat ="customer in customers" value="{{ customer.name }}">{{ customer.name }}</option>
          </select>
          <label for="quantity">Order</label>
          <select name="quantity" ng-model="new_order.quantity" class="browser-default" required>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
          </select>
          <label for="product">Product</label>
          <select name="product" ng-model="new_order.product" class="browser-default" required>
            <option ng-repeat="product in products" value="{{ product.name }}">{{ product.name }}</option>
          </select></br>
          <input ng-click="addOrder()" type="submit" ng-disabled="orderForm.$invalid"  class="btn amber darken-3 right order" value="Order">
        </form>
      </div>
    </div>
  </div>
  <div class="showOrders">
    <div class="search">
      <div class="row">
        <div class="col s6 offset-s3">
          <input type="text" ng-model="filter_name" placeholder="Search by name or product" class="center">
        </div>
      </div>
    </div>
    <table class="orderTable centered highlight responsive-table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders | filter: filter_name | orderBy: '-date'">
          <td>{{ order.name }}</td>
          <td>{{ order.product }}</td>
          <td>{{ order.quantity }}</td>
          <td>${{ order.total_price }}</td>
          <td>{{ order.date }}</td>
          <td>
            <div class="row">
              <a href="#/orders" ng-click="removeOrder(order)">
                <div class="col s6 center action">
                  <i class="amber-text text-darken-3 fa-2x fa fa-ban"></i>
                </div>
              </a>
              <a href="#/orders" ng-click="removeOrder(order)">
                <div class="col s6 center action">
                  <i class="amber-text text-darken-3 fa-2x fa fa-check"></i>
                </div>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
